.btn {
  border: none;
  width: 100%;
  max-width: 200px;
  margin: 25px 0;
  border-radius: 10px;
  outline: none;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}

.normal {
  height: 50px;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
}

.small {
  height: 40px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 25px 10px;
}

.filled {
  border: none;
  background: #66bfbf;
  color: #fff;
}

.outlined {
  background: transparent;
  border: 2px solid #66bfbf;
  color: #66bfbf;
}

.outline:hover {
  background: #66bfbf;
  border: none;
  color: #fff;
  transform: scale(1.1);
}

.filled:hover {
  background: transparent;
  transform: scale(1.1);
  border: 2px solid #66bfbf;
  color: #66bfbf;
}

.btn:disabled {
  background: gray;
}
.btn:disabled:hover {
  transform: none;
}

@media screen and (max-width: 768px) {
  .btn {
    max-width: 100px;
  }
}
